body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.burger {
  background-color: transparent;
  border: none;
  margin: 10px 0;
  padding: 5px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  visibility: hidden;
}

.mob-menu.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  visibility: visible;
}

.mob-menu-button {
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-button-icon {
  fill: #2e2f42;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}

.mob-menu-nav {
  margin-top: 72px;
}

.mob-navigation-container {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 2%;
}

.mob-navigation-container li {
  margin-bottom: 40px;
}

.mob-navigation-list-item-active {
  color: #404bbf;
}

.mob-address-list {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-address-list-item-active {
  color: #4d5ae5;
}

.mob-menu-media-icon-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.mob-menu-media-icon-list-item {
  width: 40px;
  height: 40px;
}

.mob-menu-media-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*  Header Navigation */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-title {
  color: #2e2f42;
}

.menu {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Address */
.contacts-block {
  font-style: normal;
  display: none;
}

.contacts-list {
  display: flex;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.contacts-text:hover {
  color: #404bbf;
}

.menu-link:focus,
.contacts-text:focus {
  color: #404bbf;
}

.business-button:hover {
  background: #404bbf;
}

.business-button:focus {
  background: #404bbf;
}

/* Hero Image */

.business {
  background: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.business-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.hero-business {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.business-button {
  display: block;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  bottom: none;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-button:focus {
  background: #404bbf;
}

/* Featura */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.goal-container {
  padding-left: 15px;
  padding-right: 15px;
}

.goal-menu {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.goal-box {
  display: none;
}
.goal-menu-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.goal-menu-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .goal-menu-item {
    width: calc((100% - 72px) / 2);
  }
  .goal-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .burger {
    display: none;
  }
  .menu {
    display: flex;
  }
  .contacts-block {
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .goal-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .goal-menu {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .goal-menu-item {
    width: calc((100% - 72px) / 4);
  }
  .container {
    max-width: 1158px;
  }
  .contacts-list {
    gap: 40px;
  }
  .contacts-text {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts-list {
    flex-direction: row;
  }
}

/* Our Team */
.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-menu {
  display: flex;
  gap: 24px;
}

.team-list {
  background: #ffffff;
  width: calc((100% - 72px) / 4);
}

.team-img {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  display: block;
}

.team-box {
  display: block;
  justify-content: center;
  padding: 32px 0;
  gap: 24px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  /* fill: #31d0aa; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-svg:hover,
.team-icon-svg:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}
/* Portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  background-color: #ffffff;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  display: block;
  justify-content: flex-start;
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
}

/* Footer */

.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo-text {
  margin-right: 120px;
}

.page-footer-item {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.page-footer-part {
  color: #f4f4fd;
}

.page-footer-text {
  display: block;
  font-weight: 400;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer-icon-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.page-footer-icon {
  display: block;
}
.page-footer-icon-menu {
  display: flex;
  gap: 16px;
}

.page-footer-link {
  width: 40px;
  height: 40px;
}

.page-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-icon-link:focus,
.page-icon-link:hover {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.page-svg {
  fill: #f4f4fd;
}

.page-footer-icon {
  margin-right: 80px;
}

/*  Main Page */

.main-page-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #fff;
}

.main-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.main-label {
  flex-direction: column;
}

.main-page-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.main-page-input::placeholder {
  color: #fff;
}

.main-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.main-page-svg {
  margin-left: 16px;
}

/* Modal */
.overley {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 5, 11, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overley.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  border: none;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus,
.modal-close-button:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 0 16px 0;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-icon {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}

.modal-input-user-text {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  outline: transparent;
}

.modal-input-user-text:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-input-user-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-label-input {
  margin-bottom: 8px;
}

.modal-label-input-comment {
  margin-bottom: 16px;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-input-checkbox {
  display: inline-flex;
  margin-left: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input-checkbox:checked + .modal-label-checkbox > .modal-own-checkbox {
  background: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-privaci-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-submit-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:focus,
.modal-submit-button:hover {
  background-color: #404bbf;
}
